table {
    table-layout: fixed;
    word-wrap: break-word;
}

th, td {
    overflow: hidden;
}

th.wicket_orderNone {
    background: url('images/sort_both.png') no-repeat center right;
}

th.wicket_orderDown {
    background: url('images/sort_desc.png') no-repeat center right;
}

th.wicket_orderUp {
    background: url('images/sort_asc.png') no-repeat center right;
}

th.name {
    width: 21%;
}

th.description {
    width: 30%;
}

th.created {
    width: 16%;
}

th.author {
    width: 20%;
}

th.actions {
    width: 13%;
}
