.tip {
    border-bottom: 1px dotted #999999;
    cursor: help;
}

hr {
    margin: 10px 0px;
}

#chatLog {
    height: 500px;
    overflow: auto;
    cursor: text;
}

#chatLog div.error {
    color: red;
}

#items {
    overflow: auto;
    height: 450px;
}
